In [135]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [136]:
# File to Load 
file_to_load = "Resources/purchase_data.csv"

In [137]:
# read the csv
df_purchase_data = pd.read_csv(file_to_load)

In [139]:
#PLAYER COUNT

#Total Number of Players

#Need to find the count of unique values in the SN column
player_total = len(df_purchase_data["SN"].value_counts())

#Create DF with = unique player
total_df = pd.DataFrame({"Total Players":[player_total]})
total_df

   Total Players
0            576

In [173]:
###PURCHASE ANALYSIS (TOTAL)

# * Number of Unique Items
# * Average Purchase Price
# * Total Number of Purchases
# * Total Revenue

# Unique items, average price, purchase count, and revenue
unique_items = len((df_purchase_data["Item ID"]).unique())
average_price = (df_purchase_data["Price"]).mean()
purchases = (df_purchase_data["Purchase ID"]).count()
total_revenue = (df_purchase_data["Price"]).sum()

# DF with variables plotted
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [purchases], 
                           "Total Revenue": [total_revenue]})
summary_df.head()
# Format as money
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [169]:
# ### Gender Demographics

# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed

# group by gender
gender_stats = df_purchase_data.groupby("Gender")
gender_stats.head()

# Count unique screen names by gender
total_count_gender = gender_stats.nunique()["SN"]
total_count_gender.head()

# total count by gender into a percentage
percentage_of_players = total_count_gender / total_players * 100

# # create df
gender_demo = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})
gender_demo.head()

# remove zero from corner
gender_demo.index.name = None

# format the values 
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})
gender_demo

                       Percentage of Players  Total Count
Female                             14.062500           81
Male                               84.027778          484
Other / Non-Disclosed               1.909722           11

In [193]:
### Purchasing Analysis (Gender)

# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Gender

# count of purchases by gender 
purchase_count = gender_stats["Purchase ID"].count()
purchase_count.head()
# average purchase price by gender
average_price = gender_stats["Price"].mean()
average_price.head()
# average purchase total by gender 
average_spend = gender_stats["Price"].sum()
average_spend.head()
# average purchase total by gender, divivde by purchase count by unique shoppers
average_purchase_total = average_spend/total_count_gender
average_purchase_total.head()
# create df with new variables 
gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_price,
                                    "Average Purchase Value":average_spend,
                                    "Average Purchase Total per Person": average_purchase_total})
gender_demo.head()
# set header as "Gender"
gender_demo.index.name = "Gender"

# formatting
gender_demo.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Average Purchase Total per Person":"${:,.2f}"})

In [172]:
### Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

# age_bins
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
age_bins
group_headers = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
group_headers
    
# create age group range
df_purchase_data["Age Group"] = pd.cut(df_purchase_data["Age"],age_bins, labels=group_headers)
df_purchase_data.head()
# new df grouped by age
age_grouped = df_purchase_data.groupby("Age Group")
age_grouped.head()
# count for age categories
total_count_age = age_grouped["SN"].nunique()
total_count_age.head()
# get percentages
percentage_by_age = (total_count_age/total_players) * 100
percentage_by_age.head()
# make df for obtained variables
age_demo = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})
age_demo.head()
# Format the data frame with no index name in the corner
age_demo.index.name = None
# Format percentage with two decimal places 
age_demo.style.format({"Percentage of Players":"{:,.2f}"})

In [179]:
### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

# group by SN
spender_stats = df_purchase_data.groupby("SN")
spender_stats.head()
# count total purchases by name
purchase_count_total = spender_stats["Purchase ID"].count()
purchase_count_total.head()
# Average purchase by name 
average_purchase_price = spender_stats["Price"].mean()
average_purchase_price.head()
# purchase totals
purchase_total_spender = spender_stats["Price"].sum()
purchase_total_spender.head()
# make df with new variables
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_total,
                             "Average Purchase Price": average_purchase_price,
                             "Total Purchase Value":purchase_total_spender})
top_spenders.head()
# Sort for top 5 spender names 
sorted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
sorted_spenders.head()
# Format with currency style
sorted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [184]:
### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

#REMEMBER purchase count

# new df with expected columns
items = df_purchase_data[["Item ID", "Item Name", "Price"]]
items.head()
# group by id and name
item_stats = items.groupby(["Item ID","Item Name"])
item_stats.head()
# number of purchases of each item
item_purchase_count = item_stats["Price"].count()
item_purchase_count.head()
# purchase value of each item 
purchase_value = (item_stats["Price"].sum()) 
purchase_value.head()
# Find individual item price
item_price = purchase_value/item_purchase_count
item_price.head()
# df with new data points
top_items = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
top_items.head()
# sort for top items
top_format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# format as currency
top_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [187]:
### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

# sort by purchase value
top_format = top_items.sort_values(["Total Purchase Value"], 
                                    ascending=False).head()
# format as currency
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [ ]:
# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

Observations:

1. Over 76% of players range in age from 15 to 29.
2. While the vast majority of players identify as Males(84%), the Females/X spend approx. 12% more on in aggregate.
3. It's appears that players are relatively selective with their purchases; with 576 unique players and 183 unique purchase options, the top 5 revenue producers all have 5 or less purchases.